


<main role="main" class="container">
  <div class="jumbotron">
    <h1><%= @title %> </h1>
    <p class="lead">This application is a simple CRUD application used to record Balloons. Users can Create, View, Update and Delete Balloon records</p>
    
    <p class="lead">Additionally users have the ability to record Comments for each Balloon, such as reporting a Balloon Sighting or ...</p>
    
    <p class="lead">The application also has the capability to report on how many Balloons were created on each day in the past year</p>

    <a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a>
  </div>
</main>