<main role="main" class="container">
  <div class="jumbotron">
    <h1><%= @title %> </h1>
    <p class="lead">the next step </p>
    
    <p>style your seat map, using borders, colors, ...</p>
   
    
    <%= image_tag("method-draw-image.svg", {:style => "width:800px;height:600px;" }) %>
    
    <br>
 
    <br>
    <a class="btn btn-lg btn-primary" href="about3" role="button">Learn More</a>
  </div>
</main>