<h1>Balloon Counts</h1>

<div class="container" style="padding-top: 60px;">
    <h1>Balloon Counts</h1>
    <p>For each day of the past year, this it the number of balloons that were created on that day</p> 
    <div class="well">

    <% @countBalloons.each do | countB | %>
         <%=  countB["created"] %> <%= countB["count(id)"]%> <br> 
   <% end %>
</div>