<h1>Balloon Counts</h1>

<div class="container" style="padding-top: 60px;">
    <h1>Balloon Counts</h1>
    <p>content</p> 
    <div class="well">
        <% @counts.each do | count | %>
             <%= count %><br> 
        <% end %>
    </div>
</div>